
<div>
    <table>
        <body>
            <tr>
                <td>
                    name:<%=user.name%></br>
                    age: <%=user.age%></br>
                    gender: <%=user.gender%>
                </td>
            </tr>
        </body>
    </table>
</div>
