
<div>
    <table>
        <body>
            <tr>
                <td>
                    name:<%=user.name%></br>
                    age: <%=user.age%></br>
                    gender: <%=user.gender%><br>
                    Role: <%= user.has_any_role? ? user.roles.pluck(:name).to_sentence : "notDefine" %>
                </td>
            </tr>
        </body>
    </table>
</div>
